* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header {
    width: 100%;
    height: 4.5rem;
    border-bottom: 1px solid black;
    background-color: brown;
    position: sticky;
    top: 0;
    z-index: 100;
    
}

header nav {
    width: 100%;
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

ul li {
    list-style-type: none;
    font-family: "Poppins", sans-serif;
}

a { 
    text-decoration: none;
}

.logo {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.logo span:nth-child(1) {
    background-color: goldenrod;
    color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 4px;
}

.logo span:nth-child(2) {
    font-weight: 600;
    color: aliceblue;
}

header ul {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

header ul a {
    color: aliceblue;
}

header ul a:hover {
    color: orange;
    text-decoration: underline;
}

/* All Product */

.shop {
    background-color: beige;
}

.shop h1 {
    display: flex;
    justify-content: center;
    padding: 2rem;
    font-family: "Poppins", sans-serif;
}

.shop-content {
    display: grid;
    grid-template-columns: repeat(4, 400px );
    grid-template-rows: repeat(4, 400px);
    margin: 0 2rem;
    padding: 1.5rem;
}

.shop-content span {
    display: block;
}

.shop-content div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    
    
}

.shop-content div p {
    background-color: blue;
    color: white;
    border: 1px solid;
    padding: 0.5rem;
    align-self: self-start;
}

.shop-content div:hover {
    background-color: aliceblue;
    scale: 0.8;
}


.shop-content div a {
    border: 1px solid;
    align-self: self-start;
    padding: 1rem;
    background: gray;
    color: yellow;
    
}

.shop-content a:hover {
    background-color: aliceblue;
    color: black;
    scale: 1.1;
} 

/* Footer */

.footer {
    background-color: yellowgreen;
    text-align: center;
    color: aliceblue;
    height: 3rem;
    
    
    
}







